extends layout

block content
  div.music
    //h6.channel Channel 1
    //div.musicbox
    //h6.channel Channel 2
    //div.musicbox
    //h6.channel Channel 3
    //div.musicbox
    //h6.channel Channel 4
    //div.musicbox
